@charset "UTF-8";

body {
  background-color: forestgreen;
  text-align: center;
}

header {
  top:0;
  left:0;
  right:0;
  position: fixed;
  background-color: burlywood;
  height: 105px;
  padding:5px 20px;

}


header h1 {
  color:black;
  margin: 8px 2px 2px 1px;
  font-family: "Arial","MS Gothic","Hiragino Maru Gothic ProN W4",sans-serif
}

header img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 5px;
  float: left;
}

h1 a {
  text-decoration: none;
  color:black
}

p {
  font-family: "Arial","MS Gothic","Hiragino Maru Gothic ProN W4",sans-serif
}

nav {
  /* display: flex; */
  background-color: brown;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

nav li {
  flex: 1;
  border-right:1px solid #bbb;
}

nav li:last-child {
  border-right: none;
}

nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover {
  background-color: #ddd;
  color: black;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  margin: 115px auto 0px auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  max-width: 980px;
  text-align: center;
}

.self_introduction_picture {
  border-radius: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
}

th {
  font-family:"Impact", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
}

td{
font-size: x-large;
}

.baseball {
  background-image:url(../images/baseball.JPG);
  background-size: cover;
  height: 300px;
  margin-top: 8px;
  width: 300px;
}

.baseball_text {
  background-color: rgb(255, 255, 255, 0.5);
  height: 300px;
  align-content: center;
  font-size: 50px;
}

.baseball a {
  text-decoration: none;
  color: darkgreen;
}

.baseball_text:hover {
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(7, 65, 7);
}

.darts {
  background-image:url(../images/darts.jpg);
  background-size: cover;
  height: 300px;
  margin-top: 8px;
  width: 300px;
}

.darts_text {
  background-color: rgb(255, 255, 255, 0.5);
  height: 300px;
  align-content: center;
  font-size: 50px;
}

.darts a {
  text-decoration: none;
  color: darkgreen;
}

.darts_text:hover {
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(7, 65, 7);
}

.flexbox {
  display:flex;
  justify-content: space-between;
  margin: auto;
}

.flexbox_child {
  flex: 1;
}


footer {
  margin: -7px;
  padding-right:100%;
  position: absolute;
  background-color: burlywood;
  text-align: left;
}

figure{
  font-weight: bold;
}

figcaption {
  text-align: center;
}

img {
  border-radius: 100%;
  max-width: 200px;
}

q{
  font-weight: bold;
  font-size: xxx-large;
}

address {
  font-size: 15px;
  font-family: "Arial","MS Gothic","Hiragino Maru Gothic ProN W4",sans-serif
}

small{
  font-size: 15px;
  font-family: "Arial","MS Gothic","Hiragino Maru Gothic ProN W4",sans-serif
}

@media (max-width: 400px){
  body{
    font-size: 1.5rem;
  }

  header {
    height: 250px;
  }

  .content{
    margin-top: 250px;
  }

  header img {
    width: 75px;
    height: 75px;
  }

  .content{
    max-width: 300px;
  }

  
  .flexbox{
    flex-direction: column;
    margin: auto;
  }
  figcaption{
    text-align: center;
  }
}